[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
dnspython = "*"
pymongo = "*"
scrapy = "*"
selenium = "*"
scrapy-user-agents = "*"

[requires]
python_version = "3.8"
